

*{
    margin:0;
    padding:0;
    font-family:verdana;
  }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  url('bg1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#abc{
    width:100%;
    height:100vh;
    /* background-image: url(img2.jpg); */
    background-size: cover;
  }
  nav{
    width: 100%;
    height: 250px;
    /* background-color: #0005; */
    line-height: 50px;
  }
  nav ul{
    float: right;
    margin-right: 10px;
    font-size: larger;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
  }
  /* nav ul li:hover{
    background-color:rgb(255, 255, 255);
  } */
  
  nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ffffff;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.logo{
    width: 300px;
    height: 500px;
    position: absolute;
    top: -150px;
    left: 50px;
}

.statement{

        position: absolute;
        top: 200px;
        left: 150px;
}




.dropbtn {
    background-color:transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:blue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  /* .dropdown-content a:hover {} */
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: transparent;}




  .container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 250px;
    top: 680px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: transparent;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }




  